<footer>
            @Made with love by Vani Goel
            <ul>
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li>
                <% if(locals.user){ %> 
                <a href="/users/profile/<%= locals.user.id %>">
                  Profile
                </a>
        <% }else{ %>
          <a href="/users/sign_in %>">
            Profile
          </a>
       <% } %>
              </li>
            </ul>
          </footer>