<html>
    <head>
      <title>
        <%= title %>
      </title>



    </head>

    <body>
       <%- include('header.ejs'); %>

          <%- body %>

          <%- include('footer.ejs'); %>
    </body>
</html>