header{
    background-color: rgb(61, 61, 241);
    color: white;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    ul{
        display: flex;
        li{
            display: contents;
            
            a{
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
        }
    }
}