#home-container {
    display: flex;
    justify-content: space-between; }
    #home-container #feed-posts {
      width: 70%;
      padding: 10px;
      margin: 10px; }
    #user-friends {
      display: grid;
      width: 20%;
      color: white;
      background-color: rgb(3, 3, 59);
      text-align: center;
       }
      #delbut{
        color: black;
        font-size: 20px;
      }
      #delbut:hover{
        color: red;
      }
      li{
        list-style: none;
      }

      