footer {
  background-color: #010149;
  color: white;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  footer ul {
    display: grid; }
    footer ul li {
      padding: 5px;
      display: contents; }
      footer ul li a {
        color: white;
        text-decoration: none;
        margin-bottom: 10px; }
