header {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  header ul {
    display: flex; }
    header ul li {
      display: contents; }
      header ul li a {
        color: white;
        text-decoration: none;
        margin-right: 10px; }
