#home-container {
  display: flex;
  justify-content: space-around; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    margin: 10px; }
  #home-container #user-friends {
    width: 15%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #d7d6d6;
    box-shadow: 10px 10px 30px 0px; }
